body	{
	height: 100px; 
	background-image: url(achtergrond6.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	text-align: center;
	font-family: 'Quicksand', sans-serif;
}
a 	{
	color: white;
}
ul {
	list-style-position: inside;
}
